.contents.clearfix
  = render partial:'groups/sidebar', locals: {groups: @groups}
  .main
    .group-top.clearfix
      .group-top__left
        .group-top__left--group-name
          = @group.name
        .group-top__left--member
          %ul
            %li
              Members:
            - @users.each do |user|
              %li
                = user.name
      .group-top__right
        = link_to "Edit", edit_group_path(@group)
    .group-content
      %ul
        %li
          .meassage.clearfix
            .message__username
              メンバーネーム
            .message__time
              2016/11/16
          %p.message__content
            いい天気
        %li
          .message.clearfix
            .message__username
              メンバーネーム２
            .message__time
              2016/11/16
          %p.message__content
            悪い天気
    .group-bottom.clearfix
      = form_for(([@group, @message])) do |f|
        .form_content
          = f.text_field :content, placeholder:"type a message", class:"message-form"
          %i.fa.fa-picture-o
          .group-bottom__right
            = f.submit "send", class:"message-submit"
