.contents.clearfix
  = render partial:'groups/sidebar', locals: { groups: @groups }
  .main
    .group-top.clearfix
      .group-top__left
        .group-top__left--group-name
          = @group.name
        .group-top__left--member
          %ul
            %li
              Members:
            = render @users
      .group-top__right
        = link_to 'Edit', edit_group_path(@group)
    .group-content
      %ul.messages
        = render @messages
    .group-bottom.clearfix
      = form_for([@group, @message],html: { class: 'js-message-form' }) do |f|
        .form-content
          = f.text_field :content, placeholder: 'type a message', class: 'js-message-text'
        .group-bottom__right
          = f.label :image do
            %i.fa.fa-picture-o
            = f.file_field :image, class: 'input-image'
          = f.submit 'send', class: 'js-message-submit'
